@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

body {
   width: 100%;
   background: #fff;
   font-size: 16px;
   font-weight: 400;
   font-family: var(--red-hat-display-font);
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}

.container-webx {
   padding: 0 calc(12px + (160 - 12) * ((100vw - 320px) / (1920 - 320)));
}

.theme-container {
   padding: 0 calc(12px + (160 - 12) * ((100vw - 320px) / (1920 - 320)));
}

/* ====================== */
.main-admin-sidebar {
   block-size: 100%;
   inline-size: 260px;
}

.sidebar-collapsed .main-admin-sidebar {
   transform: translateX(-100%);
}

@media screen and (max-width: 800px) {
   body.sidebar-collapsed .main-admin-sidebar {
      transform: translateX(0);
   }

   /* .main-admin-sidebar {
      transform: translateX(-100%);
   } */

   .main-admin-content-wapper {
      padding-inline-start: 0 !important;
   }
}

.main-admin-content-wapper {
   min-height: 100vh;
   /* padding-inline-start: 260px; */
}

.sidebar-collapsed .main-admin-content-wapper {
   padding-inline-start: 0px;
}

.mobile-menu {
   block-size: 100%;
}

/* costom */
/* .webx-admin-panel {
   --sidebar-width: 250px;
}

.sidebar-collapsed .webx-admin-panel {
   --sidebar-width: 80px
}

.sidebar-collapsed .webx-content-wapper {
   padding-inline-start: 80px;
}

.sidebar-collapsed.open .webx-admin-panel {
   --sidebar-width: 250px;
}

.webx-admin-panel .webx-admin-sidebar {
   block-size: 100%;
   inline-size: var(--sidebar-width);
}

.webx-admin-panel .webx-content-wapper {
   min-block-size: 100vh;
   padding-inline-start: var(--sidebar-width);
}

.webx-admin-panel .webx-admin-header {
   inline-size: 100%;
}

.webx-admin-panel .layout-page-content {
   inline-size: 100%;
   padding-inline: 1rem;
   padding-block: 1rem;
}

.webx-admin-panel .webx-admin-footer {
   inline-size: 100%;
   padding-inline: 1rem;
}

.webx-admin-panel.overlay-menu {
   --sidebar-width: 0px;
} */

/* .webx-admin-panel .webx-admin-sidebar {
   z-index: 1004;
   block-size: 100%;
   inline-size: var(--sidebar-width);
   inset-block-start: 0;
   inset-inline-start: 0;
   transition: transform 0.3s ease-in-out, inline-size 0.3s ease-in-out;
   will-change: transform, inline-size;
}

.webx-admin-panel .webx-content-wapper {
   min-block-size: 100vh;
   padding-inline-start: var(--sidebar-width);
   transition: padding-inline-start 0.3s ease-in-out;
   will-change: padding-inline-start;
} */

/* .webx-admin-panel .webx-admin-header {
   position: sticky;
   inline-size: 100%;
}

.webx-admin-panel .webx-footer {
   inline-size: 100%;
   block-size: 45px;
   padding-inline: 1rem;
} */

/* ===================================== */
.homepage-header {
   position: absolute;
}

.sticky-header.homepage-header {
   position: fixed !important;
   top: 0;
   background-color: white !important;
   box-shadow: 0 0 10px #0000001a;
}

@layer base {
   :root {
      --radius: 0.5rem;
   }
}